<mat-toolbar>
  <button mat-icon-button
          class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>My App</span>

  <span class="example-spacer"></span>

  <button mat-button
          *ngIf="!isAuth"
          routerLink="/login">
    <mat-icon>login</mat-icon>
    Login
  </button>

  <button mat-button
          *ngIf="!isAuth"
          routerLink="/signup">
    <mat-icon>person</mat-icon>
    Signup
  </button>

  <button mat-button
          *ngIf="isAuth"
          (click)="onClickLogout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>